<ion-view view-title="Light Novel">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-ios-refresh-empty" ng-click="forceRefresh()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>
  <ion-content class="">
    <ion-list show-delete="false" can-swipe="true">
      <ion-item class="item item-icon-right item-text-wrap" ng-repeat="item in list" href="#/tab/ln/{{item._id}}">
        {{item.title}}
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-positive ion-ios-star" ng-click="addFav(item._id)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
