/* Empty. Add your own CSS if you like */
.list2 {
	margin-top: 60px;
}

ion-nav-view {
	background-color: transparent;
}

.list .item.item-accordion {
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

#content {
	padding: 10px 10px 10px 10px;
}

/*.bar-header {
  height: 64px !important;
}
.bar-header > * {
  margin-top: 20px !important;
}

ion-content#chapter {
  top:0 !important
}*/